html,
body,
#root {
  @apply h-screen w-screen overflow-hidden;
}

.month-section,
.week-section {
  @apply relative h-full;
}

$day-width: "(0.1rem + 3.9rem * var(--zoom))";

.month-section {
  outline: 2px solid black;
  outline-offset: -1px;

  will-change: width;
  width: calc(#{$day-width} * var(--days, 30));

  .cover {
    @apply w-full h-full bg-yellow-600 bg-opacity-30;
  }
  &:nth-child(2n-1) {
    .cover {
      @apply bg-yellow-300 bg-opacity-30;
    }
  }
}

.week-section {
  will-change: width;
  width: calc(#{$day-width} * var(--week-days, 7));

  .cover {
    @apply w-full h-full bg-gray-400 bg-opacity-30;
  }
  &:nth-child(2n-1) {
    .cover {
      @apply bg-gray-700 bg-opacity-30;
    }
  }
}

.day-section {
  opacity: var(--days-opacity);
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
